.headup {
    margin-top: 150px;
    border-top: 1px solid black;
}

#reactiveTable {
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    user-select: text;
}
