.basecontainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    >.homecontainer {
        margin: 35px;
        padding-left: 40px;
        padding-right: 40px;
        display: flex;
        flex-grow: 1;
        flex-direction: row;
        align-items: stretch;
        > .newscontainer {
            padding: 10px;
            display: flex;
            flex-grow: 1;
            flex-direction: column;
            margin: 1em;
            background-color: #FAFAFA;
            overflow-y: auto;
        }
        > .schedulecontainer {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin: 1em;
            background-color: #FAFAFA;
            padding: 15px;
        }
        > .highscorecontainer {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin: 1em;
            background-color: #FAFAFA;
            padding: 15px;
        }
    }
}

.title {
    text-align: center;
    font-family: "LeagueSpartan" !important;
    margin-top: 10px !important;
    margin-bottom: 5px !important;
}

.schedulecontainer {
    margin-top: 30px;
}

.schedulecontainer th {
    text-align: center;
    padding-right: 45px;
}

.schedulecontainer .reactive-table-navigation {
    padding-top: 10px;
}

.no-margin-bottom {
    margin-bottom: 0px !important;
}

.table-style-class {
    text-align: center !important;
}
