.basecontainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    >.homecontainer {
        margin: 35px;
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        flex-grow: 1;
        flex-direction: row;
        align-items: stretch;
        > .newscontainer {
            padding: 25px;
            padding-top: 10px !important;
            display: flex;
            flex-grow: 6;
            flex-direction: column;
            overflow-y: auto;
        }
        > .tablecontainer {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            padding: 26px;
            padding-top: 10px !important;
            border-left: 1px solid darkgray;
            overflow-y: auto;
            min-width: 250px;
        }
    }
}

.title {
    text-align: center;
    font-family: "LeagueSpartan" !important;
    margin-top: 0px !important;
    margin-bottom: 10px !important;
}

.tablecontainer {
}

.tablecontainer th {
    text-align: center;
    padding-right: 45px;
}

.tablecontainer .reactive-table-navigation {
    padding-top: 10px;
}

.no-margin-bottom {
    margin-bottom: 0px !important;
}

.table-style-class {
    text-align: center !important;
}

.tablecell {
    height: 39px;
}
