.rounds .table {
	padding-top: 30px;
}

.rounds .toggle-active {
  background-color: #0a216c !important;
  border-radius: 0;
}

.rounds .toggle-inactive {
  background-color: #FFF !important;
  border-radius: 0;
}