table.hoverable > tbody > tr:hover {
	background-color: #fafafa;
	cursor: pointer;
}

.tableheader {
	cursor: pointer !important;
}

.tablehoverable {
	&:hover {
		background-color: #fafafa;
	}

	cursor: pointer;
}