<template name="views">
	<div class="views">
		<div class="view-table">
			{{#if isCoach}}
				{{> Template.dynamic template=coachTemplates}}
			{{else}}
				{{#if isStudent}}
					{{> Template.dynamic template=studentTemplates}}
				{{else}}
					{{> Template.dynamic template=generalTemplates}}
				{{/if}}
			{{/if}}
		</div>
		<div class="ui container">
			<div class="footer">
				<button class="ui left labeled icon button">
					<i class="left arrow icon"></i>
					{{labelLeft}}
				</button>
				<button class="ui right labeled icon button">
					<i class="right arrow icon"></i>
					{{labelRight}}
				</button>
			</div>
		</div>
	</div>
</template>